.NavBar {
    /* background-color: silver; */
    background-color: rgb(108, 117, 126);
    /* background-image: url("../../../assets/header/background.jpg"); */
    /* background-attachment: fixed; */
    /* background-repeat: round; */
}

.RealTop {
    /* width: 100%; */
}
.RealTop_Container {
    width: 100%;
    /* background-color: aqua; */
}
.RealTop_Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.RealTop_Col {    
    font-size: 2.5rem;
    color: var(--main-white-color);
    text-align: center;
}
.RealTop_Image {
    display: none;
}
.NavBar_Container {
    width: 100%;
    padding-right: 10px;
    /* background-color: brown; */
}

.NavBar_Row {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.NavBar_Col_Description {
    margin-left: -50px;
    font-size: 1.5rem;
    color: var(--main-white-color);
    text-align: center;
    padding: 0 20px;
    display: none;
}

.NavBar_Col_Buttons {
    /* display: flex; */
    display: none;
}
.NavBar_Col_Contacts {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--main-white-color);
    /* background-color: blueviolet; */
}
.NavBar_Col_Contacts label {
    padding: 0;
    margin: 0;
}
.NavBar_Col_Contacts label a {
    color: var(--main-orange-color);
}
.NavBar_Col_Contacts label a:hover {
    color: var(--main-white-color);
}
.NavBar_Col_Contacts_City {
    display: none;
}
.NavBar_Col_Contacts_Address {
    text-align: center;
}

.NavBar_Col_DoublePhones {
    /* display: none; */
    text-align: center;
    align-self: center;
    margin-left: 10px;
}

.NavBar_Col_Contacts_Address {
    text-align: center;
}
.NavBar_Col_Contacts_Name,
.NavBar_Col_Contacts_Phone,
.NavBar_Col_Contacts_Mail {
    display: none;
}



/* Это для фонового изображения */
.NavBar {
    background-image: url("../../../assets/header/background.jpg");
    /* паралакс */
    background-attachment: fixed;
    /* повтор во все стороны */
    background-repeat: repeat;
    /* растягивание во все стороны */
    /* background-repeat: round; */
}
.NavBar_Col_Contacts,
.RealTop_Col {
    /* color: black; */
}
.NavBar_Col_Contacts label a {
    /* color: rgb(15, 136, 10); */
}
.RealTop_Col,
.NavBar_Col_DoublePhones,
.NavBar_Col_Contacts_Name,
.NavBar_Col_Contacts_Phone,
.NavBar_Col_Contacts_Mail,
.NavBar_Col_Contacts_Address {
    /* background-color: silver; */
    /* opacity: 0.8; */
    /* padding: 0 10px; */
    /* border-radius: 5px; */    
    text-shadow: rgb(0, 0, 0) 0 0 2px;
    text-shadow: rgb(17, 0, 255) 0 0 5px;
}
/* Это для фонового изображения */





.NavBar_Cart,
.NavBar_Spinner {
    display:flex;
    align-items: center;
}
.NavBar_Cart_Box {
    position: relative;
}
.NavBar_Cart_Image {
    margin: 0 20px;
    border-radius: 50%;
    background-color: var(--main-white-color); 
    width: 50px;
    height: 50px;
}
.NavBar_Cart_Image:hover {
    background-color: var(--main-orange-color);
}
.NavBar_Cart_Box span {
    position: absolute;
    top: 0;
    right: 10px;
    color: black;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--main-orange-color);
    padding: 2px 8px;
    border-radius: 50%;
    border: 1px solid white;
}


.NavBar_NavLink {
    color: var(--main-white-color); 
}

.NavLink {
    cursor: pointer;
}

.NavBar_Logo {
    /* background-color: var(--main-white-color); */
    padding: 10px;
    /* width: 280px; */
    width: 250px;
    margin-top: -15px;
}



@media(min-width:1400px) {
    .NavBar_Logo {
    margin-top: -50px;
    }
}

@media(max-width:991px) {
    .RealTop_Col {    
        font-size: 1.6rem;
    }
    .RealTop {
        display: block;
    }
}

@media(max-width: 767px) {
    .RealTop_Col {    
        font-size: 1.3rem;
    }
    .RealTop_Image {
        display: block;
    }
}

@media(max-width:410px) {
    .RealTop_Col {    
        font-size: 1.2rem;
    }
}

@media(max-width:340px) {
    .RealTop_Col {    
        font-size: 1rem;
    }
}


@media(max-width:991px) {
    .NavBar_Col_Contacts {
        font-size: 1rem;
        min-width: 45%;
    }
    .NavBar_Col_DoublePhones {
        min-width: auto;
        align-self: flex-end;
        margin-bottom: 7px;
    }
    .NavBar_Col_Description {
        /* margin-left: -20px; */
        /* font-size: 1.2rem; */
        display: none;
    }
    .NavBar_Col_Contacts_Name,
    .NavBar_Col_Contacts_Mail {
        display: none;
    }
    .NavBar_Row {
        margin: 0;
    }
    .NavBar_Cart_Image {
        margin: 0 10px;
    }
    .NavBar_Cart_Box span {
        right: 5px;
    }
    .NavBar_Logo {
        padding: 5px;
        width: 160px;
        margin-top: 0;
    }
    .NavBar_Col_DoublePhones {
        display: block;
    }
    .NavBar_Col_Contacts_Phone {
        display: none;
    }
}

@media(max-width: 767px) {
    .NavBar_Col_Contacts {
        /* display: none; */
        /* padding-left: 20px; */
        align-items: center;
    }
    .NavBar_Col_Description,
    .NavBar_Col_Logo {
        display: none;
    }
    .NavBar_Row {
        justify-content:center;
    }
    .NavBar_Col_DoublePhones {
        display: none;
    }
    .NavBar_Col_Contacts_Phone {
        display: block;
    }
    .NavBar_phoneTwo {
        display: none;
    }
    .NavBar_mail {
        display: block;
    }
}

@media(max-width:410px) {
    .NavBar_Col_Buttons {
        align-items: center;
        flex-direction: column;
    }
    .NavBar_Cart{
        margin-bottom: 10px;
    }
    .NavBar_Col_Logo {
        margin-right: 5px;
    }
    .NavBar_Logo {
        padding: 2px;
        width: 150px;
    }
}

@media(max-width:340px) {
    .NavBar_Col_Buttons Button{
        padding: 5px;
    }
}