
.NzetaParserPage {}


.NzetaParserPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NzetaParserPage_inputBox {
    padding: 10px;
    width: 500px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.NzetaParserPage_box {
    border: 1px dashed lightgray;
    display: flex;
    flex-direction: column;
}

.NzetaParserPage_box_file {
    margin: 15px;
}

.NzetaParserPage_box_input {
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.NzetaParserPage_box button {
    padding: 10px;
    margin: 5px;
}

.NzetaParserPage_box_div {
    margin: 0 15px;
    font-size: small;
    cursor: pointer;
}

.NzetaParserPage label,
.NzetaParserPage_box label {
    text-align: center;
    width: 100%;
}

.NzetaParserPage_box span {
    text-align: center;
    font-size: small;
    margin: 0 15px;
}

.NzetaParserPage_button {
    padding: 10px;
    width: 100%;
}

.NzetaParserPage_box_radio,
.NzetaParserPage_box_radio input {
    cursor: pointer;
}

.NzetaParserPage_box_div_numbersheet {
    padding-top: 10px;
}