# dependencies
node_modules
*/node_modules

# environment
.env
*/.env

# dump
mern.sql
*/mern.sql

# dumps
dumps
*/dumps

package-lock.json
*/package-lock.json

# very big file
static/deliveries/dl/streets.csv
*/static/deliveries/dl/streets.csv

# how to generate a payment link
link.txt

# command files
*.bat
*/*.bat
dump
ldump
m
res

# Apach file settings
.htaccess
*/.htaccess

robots.txt
*/robots.txt

# secrets, individual info and superfluous
prices
*/prices
static/info
*/static/info
static/temp
*/static/temp
static/feed
*/static/feed

