.End {
    height:100px;
    background-color: var(--main-body-color);
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.FooterEnd_NavLink {
    color: white; /* #ff9900; */
    padding: 20px;
    color: var(--main-black-color);
}
.FooterEnd_NavLink:hover {
    color: var(--main-red-color);
}

.EndDivArrow {
    font-size: 48px;
    display:flex;
}