
:root {
    --product-width-min: 251px; 
    --product-width-mid: 320px; 
    --product-width-mid-max: 340px; 
    --product-width-max: 500px; 
}

.CategoryList {
    display:flex;
    justify-content:space-between; 
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}

.CategoryList_main_table {
    /* display: block; */
    margin-bottom: 20px;
}

.CategoryList_main_table h4 {
    /* border-bottom: 1px solid grey; */
    padding: 15px, 10px;
    color: var(--main-blue-color);
}

.CategoryList_main_table_body_name {
    color: var(--main-blue-color);
    padding-right: 10px;
}

.CategoryList_main_images {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.CategoryList_main_images_small {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.CategoryList_main_images_small_item {
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid lightgrey;
}

.CategoryList_main_images_big {    
    /* cursor: zoom-in; */
    border: 1px dashed grey;
}

.CategoryList_noProducts {
    margin: 20px;
    padding: 20px;
}

.CategoryItem {
    display:flex;
    justify-content:space-around; 
    align-items:center;
    margin-bottom: 10px;
    background-color: #fff;
}

.CategoryItem:hover {
    box-shadow: 3px 3px 5px var(--main-body-color), 
                -3px -3px 5px var(--main-body-color), 
                3px -3px 5px var(--main-body-color),
                -3px 3px 5px var(--main-body-color);
}
.CategoryItem:hover .CategoryItem_image {
    border: none;
}

.CategoryItem_card {
    width: var(--product-width-min);
    cursor:pointer;
}

.CategoryItem_image {
    width: var(--product-width-min);
    height: var(--product-width-min);
    object-fit: contain;
    border: 2px dotted rgb(255, 255, 255);
}


.CategoryItem_body {
    padding: 5px 10px 10px 10px;
    /* height: 200px; */
}

.CategoryItem_body_boxTop,
.CategoryItem_body_boxBottom {
    height: 40px;
}

.CategoryItem_body_boxTop {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.CategoryItem_body_boxBottom {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.CategoryItem_name {
    font-size: 1em;
    text-align: center;
    height: 70px;
}

.CategoryItem_name p {
    font-size: 0.7em;
}

.CategoryItem_text {
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.CategoryList_products {
    width: 100%;
}

.CategoryList_products_infoName_item {
    width: 120px;
    color: var(--main-blue-color);
    background: lightgray;
    padding: 0 5px;
    text-align: center;
}

.CategoryList_products_infoValue_item {
    width: 120px;
    padding: 10px 5px;
    text-align: center;
}

.CategoryList_products_infoName_item:first-child,
.CategoryList_products_infoValue_item:first-child
 {
    width: 85px;
}

.CategoryList_UTP {
    padding: 50px;
    font-size: 1.2rem;
}

@media (max-width: 1199px) { /* width < 1200px */
    .CategoryItem_card {
        width: var(--product-width-mid);
    }    
    .CategoryItem_image {
        width: var(--product-width-mid);
        height: var(--product-width-mid);
    }
}

@media (max-width: 991px) {
    .CategoryItem_card {
        width: var(--product-width-mid-max);
    }    
    .CategoryItem_image {
        width: var(--product-width-mid-max);
        height: var(--product-width-mid-max);
    }
}

@media (max-width: 767px) {
    .CategoryItem_card {
        width: var(--product-width-min);
    }    
    .CategoryItem_image {
        width: var(--product-width-min);
        height: var(--product-width-min);
    }
}


@media (max-width: 575px) {
    .CategoryList {
        justify-content:space-around; 
    }
}

@media (max-width: 555px) {
    .CategoryList {
        justify-content:center; 
    }
    .CategoryItem_card {
        width: calc(100vw - 30px);
    }    
    .CategoryItem_image {
        width: 100%;
        height: calc(100vw - 30px);
    }
    .CategoryItem_name {
        min-height: 20px;
    }
    .CategoryList_products_infoName,
    .CategoryList_products_infoValue {
        font-size: 10px;        
    }
    .CategoryList_main_images {
        flex-direction: column;
    }
    .CategoryList_main_images_small {
        flex-direction: row;
    }    
}
